.row {
    margin-left: -340px;
    margin-right: -37px;
}

.panel {
    margin-top: 20px;
}

button.submit {
    float: left;
}

#maddness {
    width: 100%;
    height: 100%;
    background: url('img/teatime.jpg') center center no-repeat;
    background-size: cover;
}

#teafind {
    width: 100%;
    height: 100%;
    background: url('img/teafeed.jpg') center center no-repeat;
    background-size: cover;
}

#panel,
#flip {
    padding: 15px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}

form#cms {
    margin-top: 50px;
    width: 61%;
}

#cms textarea {
    resize: none;
}

.panel-heading button.delete,
button.edit {
    margin: 5px;
}

.top-30 {
    margin-top: 30px;
}

html {
    overflow-y: scroll;
}

header,
nav,
{
    display: block
}

ol,
ul {
    list-style: none
}

a:hover,
a:active {
    outline: 0
}

a img {
    border: 0
}

button {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button {
    line-height: normal;
    *overflow: visible
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    border: 0;
    padding: 0
}

main {
    display: block
}

a,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease
}

h1 {
    font-family: 'Sentinel A', 'Sentinel B';
    font-weight: 700;
    font-style: normal;
    clear: both
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html,
body {
    width: 100%;
    height: 100%
}

body:after {
    content: 'small';
    display: none
}

@media screen and (min-width: 29em) {
    body:after {
        content: 'med'
    }
}

@media screen and (min-width: 43em) {
    body:after {
        content: 'big'
    }
}

[class*='col-'] {
    float: left;
    width: 70%;
    margin-left: 170px;
}

@media screen and (min-width: 52em) {
    .featured .col-1-2 {
        width: 50%
    }
}

.container-940 {
    max-width: 58.75em
}

.container-1432 {
    max-width: 89.5em
}

.container-956 {
    max-width: 59.75em
}

.container-920 {
    max-width: 57.5em
}

.container-968 {
    max-width: 60.5em
}

.container-984 {
    max-width: 61.5em
}

.container-883 {
    max-width: 55.1875em
}

.container-725 {
    max-width: 45.3125em
}

.container-1000 {
    max-width: 62.5em
}

.container-1200 {
    max-width: 75em
}

.container-1032 {
    max-width: 64.5em
}

.container-header {
    max-width: 41.25em;
    padding: 0 .5em
}

@media screen and (min-width: 77em) {
    .container-header {
        max-width: 87.5em;
        padding-left: 13.4375em
    }
}

.container-submenu {
    max-width: 70em;
    padding: 0 .5em
}

@media screen and (min-width: 40.5em) {
    .container-submenu {
        padding-left: 0
    }
}

@media screen and (min-width: 77em) {
    .container-submenu {
        padding-left: 10.75em
    }
}

.logo span {
    position: center;
}

@media screen and (min-width: 47.8em) {
    .logo {
        float: left
    }
}

img {
    max-width: 100%;
    height: auto
}

.site-header {
    padding: .75em 0;
    position: relative;
    overflow: hidden;
}

@media screen and (min-width: 47.8em) {
    .site-header {
        padding: 3.375em 0 0;
        overflow: visible
    }
}

.main-nav .main-menu>li {
    font-family: 'Sentinel A', 'Sentinel B';
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    font-size: 2.2rem
}

.main-nav a:hover,
.main-nav a:focus {
    color: #80c04b
}

.main-nav .sub-menu .current_page_item a,
.main-nav .menu-products .sub-menu .variety-active a {
    color: #18bc9c;
}

.main-nav .menu-communitea>a {
    color: #18bc9c;
    border-color: #0b0c0a;
}

@media screen and (min-width: 34.6em) {
    .sub-menu li {
        float: left;
        width: 50%;
        padding-right: .5em;
    }
}

.sub-menu a {
    display: inline-block;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.75;
    text-transform: none
}

@media screen and (min-width: 47.8em) {
    .nav-toggle {
        display: none
    }
    .nav-container {
        float: left;
        max-height: 50em;
        overflow: visible
    }
    .nav-container:after {
        content: "";
        display: table;
        clear: both
    }
    .main-nav .sub-menu {
        display: block;
        position: absolute;
        top: 5.4em;
        left: 0;
        right: 0;
        min-width: 12em;
        width: 100%;
        height: 0;
        visibility: hidden;
        opacity: 0;
        padding: .2em .35em 0;
        -webkit-transition: all .1s linear;
        transition: all .1s linear
    }
}

@media screen and (min-width: 47.8em) and (min-width: 77em) {
    .main-nav .sub-menu {
        text-align: center;
    }
}

@media screen and (min-width: 47.8em) {
    .main-nav .sub-menu li {
        display: inline-block;
        float: none;
        width: auto;
        margin: 0 1.125em 0 0;
        padding-right: 0
    }
    .main-nav .sub-menu a {
        color: #18bc9c;
    }
    .main-nav .main-menu>li {
        display: inline-block;
        text-align: center;
        border-width: 0
    }
    .main-nav .main-menu>li:hover .sub-menu {
        height: 80px;
        visibility: visible;
        opacity: 1
    }
}

@media screen and (min-width: 47.8em) and (min-width: 64.625em) {
    .main-nav .main-menu>li:hover .sub-menu {
        height: 60px
    }
}

@media screen and (min-width: 47.8em) {
    .main-nav .main-menu>li>a {
        padding-left: .9em;
        padding-right: .9em
    }
    .main-nav .main-menu>li.menu-item-has-children {
        margin-bottom: 0
    }
    .main-nav .main-menu>li.menu-item-has-children>a {
        padding-bottom: 1em
    }
    .main-nav .main-menu>li a {
        position: relative;
        border-width: 0
    }
    .main-nav .main-menu>li:hover .sub-menu {
        z-index: 3
    }
}

@media screen and (min-width: 42.5em) {
    .main-nav {
        padding-left: 5.125em
    }
}

.page-template-page-sourcemap-php {
    font-weight: 100
}

.page-template-page-sourcemap-php * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.page-template-page-sourcemap-php .site-header {
    z-index: 10
}

.page-template-page-sourcemap-php p {
    font-weight: 100
}

.page-template-page-sourcemap-php #map-coords {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    background: #000;
    color: #fff;
    padding: 1em
}

.page-template-page-sourcemap-php .disclaimer {
    position: fixed;
    bottom: 0;
    left: 20px;
    z-index: 999;
    font-size: 9px;
    color: #999
}

@media (max-width: 1000px) {
    .page-template-page-sourcemap-php .disclaimer {
        position: relative;
        bottom: 0;
        left: 0;
        padding: 1em 1em 2em;
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        font-size: 8px;
        line-height: 1.3
    }
}

@media (max-width: 1000px) {
    .page-template-page-sourcemap-php {
        border: none
    }
}

.page-template-page-sourcemap-php .intro-text,
.page-template-page-sourcemap-php .mobile-description {
    width: 350px;
    position: absolute;
    left: 640px;
    top: 610px
}

.page-template-page-sourcemap-php .intro-text h1,
.page-template-page-sourcemap-php .mobile-description h1 {
    font-size: 26px
}

.page-template-page-sourcemap-php .mobile-description {
    display: none;
    position: static;
    text-align: center;
    width: 100%;
    max-width: 380px;
    margin: 1em auto 2em;
    padding: 0 1em
}

.page-template-page-sourcemap-php .map {
    width: 2416px;
    height: 1456px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: opacity 2s, -webkit-transform 4s 0.5s;
    transition: opacity 2s, transform 4s 0.5s;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center
}

.page-template-page-sourcemap-php .map.on {
    opacity: 1
}

.page-template-page-sourcemap-php .map.animateIn {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.page-template-page-sourcemap-php .map.move-to {
    -webkit-transition: left 0.5s, top 0.5s;
    transition: left 0.5s, top 0.5s
}

@media (max-width: 1000px) {
    .page-template-page-sourcemap-php .map {
        -webkit-transition: opacity 0s, -webkit-transform 4s 0.5s;
        transition: opacity 0s, transform 4s 0.5s;
        opacity: 0 !important
    }
}

.page-template-page-sourcemap-php .map .map-img {
    width: 2416px;
    height: 1456px;
    max-width: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto
}

.page-template-page-sourcemap-php .pin {
    width: 23px;
    height: auto !important;
    position: absolute;
    z-index: 10;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: margin-top 1s, opacity 1s 1s, -webkit-transform 0.9s 1s;
    transition: margin-top 1s, opacity 1s 1s, transform 0.9s 1s;
    -webkit-transform-origin: 50%, 100%;
    -ms-transform-origin: 50%, 100%;
    transform-origin: 50%, 100%
}

.page-template-page-sourcemap-php .pin[data-index="5"][data-group="3"] {
    width: 32px
}

.page-template-page-sourcemap-php .pin[data-index="6"][data-group="2"] {
    width: 32px
}

.page-template-page-sourcemap-php .pin[data-index="3"][data-group="3"] {
    width: 22px
}

.page-template-page-sourcemap-php .pin[data-index="8"][data-group="2"] {
    width: 32px
}

.page-template-page-sourcemap-php .pin[data-index="7"][data-group="2"] {
    width: 32px
}

.page-template-page-sourcemap-php .pin.on {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.fast-pin-transition .page-template-page-sourcemap-php .pin {
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s
}

.page-template-page-sourcemap-php .pin.no-click {
    cursor: default
}

.hide-no-click .page-template-page-sourcemap-php .pin.no-click {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s
}

.page-template-page-sourcemap-php .pin.pulse {
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25)
}

.page-template-page-sourcemap-php .pin:not(.no-click):hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.1, 2.53);
    transition: transform 0.3s cubic-bezier(0, 0, 0.1, 2.53)
}

.page-template-page-sourcemap-php .pin:hover {
    z-index: 9999 !important
}

.page-template-page-sourcemap-php .featured-marker {
    height: 34px;
    background-color: #27517B;
    position: absolute;
    padding: 5px 10px 5px 50px;
    -webkit-border-radius: 15px;
    border-radius: 15px
}

.page-template-page-sourcemap-php .featured-marker h6 {
    color: #fff
}

.page-template-page-sourcemap-php .bx-controls .bx-pager {
    display: none
}


/* modal css */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    margin-top: 286px;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    z-index: 100;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin-top: 230px;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    height: 150px;
    z-index: 100;
}

#caption1 {
    margin-top: 230px;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    height: 150px;
    z-index: 100;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    z-index: 100;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.modal .close,
.modal .close1 {
    color: #f3f3f3;
}

.close,
.close1,
.close3,
.close4,
.close5,
.close6,
.close7,
.close8,
.close9,
.close10,
.close11,
.close12,
.close13,
.close14,
.close15,
.close16,
.close17,
.close18,
.close19,
.close20,
.close21,
.close22,
.close23,
.close24,
.close25,
.close26,
.close27,
.close28,
.close29,
.close30 {
    position: relative;
    top: 88px;
    right: -550px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 230px;
    z-index: 100;
    float: initial;
}

.close:hover,
.close:focus,
.close:hover1,
.close:focus1,
{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
}

#caption {
    margin-top: -45px;
    margin-left: 483px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption1 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption3 {
    margin-top: -41px;
    margin-left: 1030px;
    color: #f5e7e7;
    font-size: 20px;
    width: 35%;
    text-align: center;
}

#caption4 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption5 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption6 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption7 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption8 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption9 {
    margin-top: -41px;
    margin-left: 1155px;
    color: #f5e7e7;
    font-size: 20px;
    width: 35%;
    text-align: center;
}

#caption10 {
    margin-top: -41px;
    margin-left: 1155px;
    color: #f5e7e7;
    font-size: 20px;
    width: 35%;
    text-align: center;
}

.close11,
.close12,
.close13,
.close10,
.close09 {
    margin-left: 759px;
}

#caption11 {
    margin-top: -41px;
    margin-left: 1155px;
    color: #f5e7e7;
    font-size: 20px;
    width: 35%;
    text-align: center;
}

#caption12 {
    margin-top: -41px;
    margin-left: 1164px;
    color: #f5e7e7;
    font-size: 20px;
    width: 35%;
    text-align: center;
}

#caption13 {
    margin-top: -41px;
    margin-left: 1155px;
    color: #f5e7e7;
    font-size: 20px;
    width: 35%;
    text-align: center;
}

#caption14 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption15 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption16 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption17 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption18 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption19 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption20 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption21 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption22 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption23 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption24 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption25 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption26 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption27 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption28 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption29 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#caption30 {
    margin-top: -41px;
    margin-left: 500px;
    color: #f5e7e7;
    font-size: 20px;
}

#img01 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
}

#img02 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

.close3 {
    right: -1156px;
}

#img03 {
    margin: 67px;
    margin-left: 1185px;
    width: 500px;
    height: 323px;
}

#img04 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

#img05 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

#img06 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

#img07 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

#img08 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

#img09 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

#img10 {
    margin: 67px;
    margin-left: 1344px;
    width: 500px;
    height: 323px;
}

#img11 {
    margin: 67px;
    width: 500px;
    height: 323px;
    margin-left: 1348px;
}

#img12 {
    margin: 67px;
    width: 500px;
    height: 323px;
    margin-left: 1326px;
}

#img13 {
    margin: 67px;
    width: 500px;
    height: 323px;
    margin-left: 1348px;
}

#img14 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

#img15 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

#img16 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

#img17 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

#img18 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

#img19 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

#img20 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}

#img21 {
    margin: 67px;
    margin-left: 578px;
    width: 500px;
    height: 323px;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.titles {
    margin-top: -8px;
}

.list1 {
    margin-top: -27px;
    margin-left: -101px;
}

#myModal {
    left: 825px;
    top: -78px;
}

#myModal1 {
    left: 783px;
    top: -63px;
}